#btnResetSearch {
    line-height: 1;
    /*margin-top: 0;*/
    padding: .2em;
}
#statements-small-hint {
    font-size: xx-small;
}
#smc-headline{
    font-size: small;
    float: left;
}
#smc-uri{
    font-size: xx-small;
    padding-top: 6px;
    padding-left: 10px;

}



