#btnResetSearch {
    line-height: 1.3;
    /*margin-top: 0;*/
    padding: 0em;
}
#statements-small-hint {
    font-size: xx-small;
}
#smc-headline{
    font-size: small;
    float: left;
}
#smc-uri{
    font-size: xx-small;
    padding-top: 6px;
    padding-left: 10px;
}

.statementsMyButton {
    font-weight: normal;
    padding: 0;
    line-height: 1;
    font-size: 1em;
}

.statementsMyButton2 {
    padding: 0em;
    line-height: 1.3;
}


